<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.dpa.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
            android:name="com.dpa.app.modules.cuestionario.ui.CuestionarioActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.tacto.ui.TactoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.visual.ui.VisualActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.iniciarsesionespecialista.ui.IniciarSesionEspecialistaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisosintomas.ui.AvisosintomasActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagenfive.ui.ImagenfiveActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.gusto.ui.GustoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagenfour.ui.ImagenfourActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisotacto.ui.AvisotactoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.mensaje.ui.MensajeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.listapacientes.ui.ListaPacientesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisovisual.ui.AvisovisualActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.registrarseespecialista.ui.RegistrarseEspecialistaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisodescarga.ui.AvisodescargaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.loginpaciente.ui.LoginPacienteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagensix.ui.ImagensixActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisoresultadosg.ui.AvisoresultadosgActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.registrarsepaciente.ui.RegistrarsePacienteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.social.ui.SocialActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.recuperar.ui.RecuperarActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisoauditivo.ui.AvisoauditivoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.avisogusto.ui.AvisogustoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.homeespecialista.ui.HomeEspecialistaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagentwo.ui.ImagentwoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.loginespecialista.ui.LoginEspecialistaActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.resultadosgenerales.ui.ResultadosGeneralesActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.iniciarsesionpaciente.ui.IniciarSesionPacienteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.auditivo.ui.AuditivoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.notificaciones.ui.NotificacionesActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.dpa.app.modules.login.ui.LoginActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.dpa.app.modules.resultado.ui.ResultadoActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.crearresumen.ui.CrearResumenActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.homepaciente.ui.HomePacienteActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.comprobacion.ui.ComprobacionActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagenone.ui.ImagenoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.dpa.app.modules.imagenthree.ui.ImagenthreeActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
